.popup {

    position: fixed;
    left: 35%;
    top: 10;
    width: 30%;
    height: 60%;
    background: rgba(217, 181, 181, 0.978);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #000;
    /* overflow: auto; */
    


    
    
}
/* .popup-inner {
    position: relative;
    padding: 20px;
    background: rgb(17, 14, 14);
    width: 80%;
    max-width: 600px;
    border-radius: 5px;


} */
.popup-inner  {
    position: absolute; 
    /* top: 18px; 
    right: 18px;  */
   padding: 10px; 
    font-size: 30px;
    cursor: pointer;
    background-color: rgb(175, 22, 22);
}


.my-popup{
    background-color: rgb(141, 141, 222);
height:300px;
width: 100%;
position: absolute;


}
.popup-cont{
    position: relative;
    top: 50;
    left: 0;
    /* width: 100%; */
   /* height: 100%;  */
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-titet{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: rgb(6, 3, 3);
    text-align: center;
    margin-top: 20px;
    display: flex;
}
.popup-img{
width: 70px;
height: 100px;
    margin-top: 20px;
    display: flex;
}
